@model Product


<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="figure">
        <img src="@Model.ImageThumbnailUrl" alt="Thumbnail of a product" class="figure-img img-thumbnail" />
        <div class="figure-caption">
            <h3 class="float-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a href="#">@Model.Name</a>
            </h3>
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="addToCart text-right">
        <p class="button">
            <a class="btn btn-success" id="cartButton"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-productId="@Model.ProductId">
                Adaugă în coș
            </a>
        </p>
    </div>
</div>
