<div>
    <h2>@ViewBag.Name</h2>
</div>

<h2>@Model.CurrentCategory</h2>

<div class="row">
    @{foreach (var product in Model.Products)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="figure">
                    <img src="@product.ImageThumbnailUrl" alt="Thumbnail of a product" class="figure-img img-thumbnail" />
                    <div class="figure-caption">
                        <h3 class="float-right">@product.Price.ToString("c")</h3>
                        <h3>
                            <a href="#">@product.Name</a>
                        </h3>
                        <p>@product.Description</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
